header
  nav.menu
    ul.menu-list
      li
        input#button(type='checkbox')
        label(for='button', onclick='')
          img.logo(src='../public/images/wax-seal-logo.png', alt='wax seal logo')
        nav.mobile-menu
          ul
            li
              a.mobile-one.mobile(href="/profile") Profile
            li
              a.mobile-two.mobile(href="/post-history") History
            //- li
            //-   a.mobile-three.mobile(href="/user/" + user + "/settings") Settings
            li
              a.mobile-four.mobile(href="/whiskey-search") Search
            li
              a.mobile-five.mobile(href="/logout") Log Out
      li.header-text Whiskey Social
      li
        a.link-one.hide.redirect(href="/profile") Profile
      li
        a.link-two.hide.redirect(href="/post-history") History
      //- li
      //-   a.link-three.hide.redirect(href="/user/" + user + "/settings") Settings
      li
        a.link-four.hide.redirect(href="/whiskey-search") Search
      li
        a(href="/logout")
          input.hide.redirect(type='submit', value='Log Out')


