doctype html
html(lang="en")
  head
    title All Badges Screen
  body
    h1 Badges:
    div= stuff
      ul
        each badge in badges
          li= badge.name + badge.description + badge.badgePhoto
