extends page-outline.pug

block content
  div.background-image-wrapper
    div.page-wrapper

      div.delete-username
        p= 'Hello, ' + name
        p= username

      div.delete-question
        p Are you sure you want to delete your account?

      div.delete-answer-no
        a(href="/user/" + id)
          input(type='submit', value='No')

      div.delete-statement
        p Yes, I'm sure.  Please delete my account:

      div.delete-answer-yes
        form(method='POST' enctype='application/json' action="/user/" + id + "/delete-account")
          input(type='submit', value='Yes')




