doctype html
html(lang="en")
  head
    title Potential Friend Profile Screen
  body
    h3 Potential Friend Basic Profile page
    div= username
    div= name


    a(href="/friend/request/send")
      button.redirect-back-to-whiskey-search(type='submit') Send Friend Request

    a(href="/friend/search")
      button.redirect-to-whiskey-post(type='submit') Back
