doctype html
html(lang="en")
  head
    title Potential Friend Profile Screen
  body
    h3 Potential Friend Basic Profile page
    div= username
    div= name


    a(href="/user/friend/request/send" + id)
      button.redirect-to-friend-request-send(type='submit') Send Friend Request

    a(href="/user/friend/search")
      button.redirect-back-to-friend-search(type='submit') Back
