doctype html
html(lang="en")
  head
    title Friend List Screen
  body
    h3 Search for a New Friend field
    a(href="/user/friend/search")
      button.redirect-to-friend-search(type='submit') Search


    h1 My Friends:
    div.friends-list-container
      ul
        each friend in friendsArray
          li= friend
          //- a(href="/user/" + friend.id)
            li= friend
            //- li= user.username + user.name
