<!DOCTYPE html>
<html>
<head>
  <title>Whiskey Social</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/homepage.css">
</head>
<body>
  <div class="wrapper">

    <div class="mobile-top">
    <!-- A div for everything!!!!!!! -->
      <div class="mobile-name">
        <p>Whiskey Social</p>
      </div>
      <div class="mobile-tagline">
        <p>What's in Your Glass?</p>
      </div>
      <div class="mobile-logo">
        <img src="../images/wax-seal-logo.png">
      </div>
      <div class="mobile-signup">
        <!-- Take off type=submit & just use <a> tag redirect -->
        <a href="/signup">
          <input type="submit" class="signup-button" value="Sign Up" />
        </a>
      </div>
      <div class="mobile-login">
        <a href="/login">
          <input type="submit" class="login-button" value="Log In" />
        </a>
      </div>
    </div>

    <div class="top-content-wrapper">
      <img class="hero-image" src="../images/whiskeybanner.jpg">
      <div class="over-photo">
        <div class="logo">
          <img src="../images/wax-seal-logo.png">
        </div>
        <p class="name">Whiskey Social</p>
        <div class="tagline">
          <p>What's in Your Glass?</p>
        </div>
        <a href="/signup">
          <button type="submit" class="signup-button">Sign Up</button>
        </a>
        <a href="/login">
          <button type="submit" class="login-button">Log In</button>
        </a>
      </div>
    </div>

    <div class="profile-description">
      <p>Whiskey Social makes it easy to keep a tally of how many and how many different whiskeys you've tried, along with your favorites!</p>
    </div>
    <div class="profile-mockup">
      <img src="../images/mockup-profile.png">
    </div>
    <div class="history-description">
      <p>Keep track of your entire tasting history.  Rate and make notes on all your whiskeys and keep a list of all of your favorites.</p>
    </div>
    <div class="history-mockup">
      <img src="../images/mockup-history.png">
    </div>
    <div class="whiskey-description">
      <p>Choose from over 1,700 whiskeys and scotches from all over the world in our database.</p>
    </div>
    <div class="whiskey-mockup">
      <img src="../images/mockup-search.png">
    </div>
  </div>

</body>
</html>
