extends page-outline.pug

block content
  div.unique-container
    h1 My Whiskeys:
    ul.unique-list

      each post in uniquePosts
        - var photoURL = post.smallImageURL
        li.whiskey-card
          div.whiskeyname= post.whiskeyName
          div.rating= 'Rating: ' + post.rating
          if post.favorite
            div.favorite
              p Favorite
              img.favorite-icon
          a(href='/user/' + id + '/single-post/' + post.postID)
            img.bottle-history(src=photoURL, alt=post.whiskeyName)
      else
        p Drink your first whiskey!

