extends page-outline.pug

block content
  div.background-image-wrapper
    div.page-wrapper

      div.confirm-statement
        p Cheers!  Your post was successful!

      div.confirm-question
        p Would you like to add this whiskey to your Favorites?

      div.confirm-favorite
        form(method='POST' enctype='application/json' action="/user/" + id + "/my-favorites")
          input(type='submit', value='Yes')

      div.confirm-redirect
        a(href="/user/" + id + "/post-history")
          input(type='submit', value='Back to History')

