extends page-outline.pug

block content
  h1 Post Confirmation Screen

  h2 Cheers!  Your post was successful!

  h3 Would you like to add this whiskey to your Favorites?

    a(href="/user/" + id + "/my-favorites")
    button.redirect-to-favorites(type='submit') Yes!

  //- Hidden if no badges earned for this particular post:

  a(href="/user/" + id + "/post-history")
    button.redirect-to-newsfeed(type='submit') Close
