extends page-outline.pug

block content
  div.username
    p= username
  //- div= name
  div.avatar
    div.wax-seal

  div.total-post
    a(href="/user/" + id + "/post-history")
      p= postCount
      h3 My Posts

  div.unique-post
    a(href="/user/" + id + "/whiskeys")
      p= uniquePostCount
      h3 My Unique Posts

  div.favorite
    a(href="/user/" + id + "/my-favorites")
      p= favoriteCount
      h3 My Favorites
