doctype html
html(lang="en")
  head
    title Settings Screen
  body
    div= username
    div= name
    div This is your Profile page!!

    a(href=path)
      button.redirect-to-newsfeed(type='submit') Newsfeed
