doctype html
html(lang="en")
  head
    title Single Post Screen
  body
    h1 Single Post Screen

    div= whiskeyName
    div= smallImageURL

    h2 Rating:
      div= rating

    //- TODO - edit comment button
    h2 Comments:
      div= comment[0].text

    //- Button to delete user's own post - hidden for friends to see
    a(href="/whiskey/post/" + id + "/confirm")
      button.delete-post(type='submit') Delete

    form(action="POST")
      textarea(rows=10, cols=100)
        | Make another comment
