extends page-outline.pug

block content
  div.single-post-container

    div.single-name
      p= title

    div.single-photo
      img(src=image_url)

    div.single-rating
      p= 'Rating: ' + rating

    div.single-comment
      h2 Comments:
      p= comment[0].text

    div.single-add-comment
      form(method='POST' enctype='application/json' action="/whiskey/598786f0873d1cf2aa55467c/post/59930c0314ba7b8933046102")
        textarea#add-comment(name="add-comment", placeholder='Comment on this whiskey')
        input(type='submit', value='Submit')

    div.single-delete-post
      p Delete this post?
      a(href="/whiskey/post/" + id + "/confirm")
        input(type='submit', value='Delete')
