doctype html
html(lang="en")
  head
    title Whiskey Profile Screen
  body
    h1 Whiskey Profile Screen

    div= whiskeyName
    div= description
    div= largeImageURL

    a(href="/whiskey/search")
      button.redirect-back-to-whiskey-search(type='submit') Back

    a(href="/whiskey/post/" + id)
      button.redirect-to-whiskey-post(type='submit') Rate this Whiskey
