extends page-outline.pug

block content
  h1 Whiskey Profile Screen

  div= whiskeyName
  div= description

  img(src=smallImageURL)

  a(href="/whiskey/search")
    button.redirect-back-to-whiskey-search(type='submit') Back

  a(href="/whiskey/post/" + id)
    button.redirect-to-whiskey-post(type='submit') Rate this Whiskey
