doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Whiskey Social Login
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/public/css/reset.css')
    link(rel='stylesheet', href='/public/css/grid.css')
    link(rel='stylesheet', href='/public/css/main.css')
    link(rel="shortcut icon" href="/public/images/wax-seal-logo.ico" type="image/x-icon")
    link(rel="icon" href="/public/images/wax-seal-logo.ico" type="image/x-icon")
  body
    header.header-signup
      ul.header-signup-menu-list
        li.header-signup-logo-box
          a(href='/')
            img.header-signup-logo(src='/public/images/wax-seal-logo.png', alt='wax seal logo')
      div.header-signup-text Whiskey Social



    div.main-content-wrapper
      div.logo-large
        img.logo-large(src='/public/images/wax-seal-logo.png', alt='wax seal logo')

    if message
      p.message-error= message

      form#sign-up(method='POST' enctype='application/json' action="/login")
        div
          input#username(type='text', name='username', required='', placeholder=' ')
          label(for='username') Username
        div
          input#password(type='password', name='password', required='', placeholder=' ', pattern='(?=.*[a-z]).{10,}')
          label(for='password') Password

        input.login-button(type='submit', value='Log In')

      div.login-bottom
        p
          | New around here?
          a(href='/signup')   Sign up!
        br
        p To access the demo account, please enter the following credentials:
        br
        p Username: whiskey
        p Password: password10

    //- script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')


    //- script(type='text/javascript', src='/js/app.js')

    //- footer.main-footer
    //-   | Whiskey Social 2017 Copyright
