extends page-outline.pug

block content

  div.favorites-container
    h1 My Favorites:
    ul.favorites-list

      each post in favoritePosts
        - var photoURL = post.smallImageURL
        li.whiskey-card
          div.whiskeyname= post.whiskeyName
          div.rating= 'Rating: ' + post.rating
          div.favorite
            p Favorite
            img.favorite-icon
          a(href='/single-post/' + post._id)
            img.bottle-history(src=photoURL, alt=post.whiskeyName)
      else
        p.new-user-text No favorites yet!  New around here? Click on the Search menu option and start searching for your first whiskey!
