extends page-outline.pug

block content

  div.unique-container
    h1 My Whiskeys:
    if !posts.length
      div.new-user-text
        p New around here? Click on the Search menu option and start searching for your first whiskey!
    ul.unique-list

      each post in uniquePosts
        - var photoURL = post.smallImageURL
        li.whiskey-card
          div.whiskeyname= post.whiskeyName
          div.rating= 'Rating: ' + post.rating
          if post.favorite
            div.favorite
              p Favorite
              img.favorite-icon
          a(href='/single-post/' + post._id)
            img.bottle-history(src=photoURL, alt=post.whiskeyName)
