extends page-outline.pug

block content
  div.background-image-wrapper
    div.page-wrapper
      div.profile-container
        div.profile-username
          p= username

        div.search-form
          if !postCount.length
            p To Get Started, Search for a Whiskey Here:
          else
            p Search for a Whiskey:
          form(action="whiskey-search")
            input.search-field(type="text" placeholder="Example: Redbreast" name="whiskey" required)
            input.search-button(type="submit" value="Search")

        div.profile-avatar
          div.wax-seal
            div.profile-icon
              i.fa.fa-user-circle-o.fa-5x.icon

        div.profile-total-post
          a.profile-button(href="/post-history")
            p= postCount
            h3 My Posts

        div.profile-unique-post
          a.profile-button(href="/whiskeys")
            p= uniquePostCount
            h3 My Unique Posts

        div.profile-favorite
          a.profile-button(href="/my-favorites")
            p= favoriteCount
            h3 My Favorites
