extends page-outline.pug

block content
  div.background-image-wrapper
    div.page-wrapper
      div.profile-container
        div.profile-username
          p= username
        //- div= name
        div.profile-avatar
          div.wax-seal

        div.profile-total-post
          a(href="/post-history")
            p= postCount
            h3 My Posts

        div.profile-unique-post
          a(href="/whiskeys")
            p= uniquePostCount
            h3 My Unique Posts

        div.profile-favorite
          a(href="/my-favorites")
            p= favoriteCount
            h3 My Favorites
