extends page-outline.pug

block content

  div.whiskey-profile-container
    h1= whiskeyName
    p.whiskey-profile-description= description

    a.back-to-search(href="/whiskey-search")
      |< Back

    a.redirect-to-whiskey-post(href="/post/" + _id)
      |Rate this Whiskey >

    div.image-container
      //- img.whiskey-profile-image(src=smallImageURL)
      img.whiskey-profile-image(src=largeImageURL)

  div.push
