/* ------------------- Profile Page Grid -------------------------*/

  /*------------ Mobile Stack -----------*/
.profile-container {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 500px min-content 120px 40px 120px 40px;*/
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "username"
      "avatar"
      "total-post"
      "unique-post"
      "favorite"
      "footer";
  }

.main-head {
  grid-area: header;
}

.username {
  grid-area: username;
  justify-self: left;
  align-self: end;
  margin-left: 12px;
}

.avatar {
  grid-area: avatar;
  justify-self: right;
  align-self: start;
  margin-right: 12px;
}

.total-post {
  grid-area: total-post;
  justify-self: left;
  align-self: center;
  margin-left: 12px;
  margin-top: 0;
}

.unique-post {
  grid-area: unique-post;
  justify-self: right;
  align-self: center;
  margin-right: 12px;
}

.favorite {
  grid-area: favorite;
  justify-self: left;
  align-self: center;
  margin-left: 12px;
}

footer {
  grid-area: footer;
  text-align: center;
}


/* ------------------- Post History Page Grid -------------------------*/

  /*------------ Mobile Stack -----------*/
.history-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      /*"header"*/
      "history-list"
      /*"footer";*/
  }

.history-list {
  grid-area: history-list;
  justify-self: center;
  align-self: center;
}

/* ------------------- Single Post Page Grid -------------------------*/

  /*------------ Mobile Stack -----------*/
.single-post-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "single-name"
      "single-rating"
      "single-comment"
      "single-add-comment"
      "delete-post"
      "footer";
  }

.single-name {
  grid-area: single-name;
  justify-self: center;
  align-self: center;
}

.single-rating {
  grid-area: single-rating;
  justify-self: center;
  align-self: center;
}

.single-photo {
  grid-area: single-photo;
  justify-self: center;
  align-self: center;
}

.single-comment {
  grid-area: single-comment;
  justify-self: center;
  align-self: center;
}

.single-add-comment {
  grid-area: single-add-comment;
  justify-self: center;
  align-self: center;
}

.delete-post {
  grid-area: delete-post;
  justify-self: center;
  align-self: center;
}

/*grid-template-areas:
      "header header"
      "single-name single-name"
      "single-rating single-photo"
      "single-comment single-comment"
      "single-add-comment single-add-comment"
      "delete-post delete-post"
      "footer footer";*/



