/* ======================================
  Profile Page Grid
======================================== */
  /*------------ Mobile Stack -----------*/
@media screen and (max-width: 499px) {

  .profile-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "search"
      "username"
      "avatar"
      "total-post"
      "unique-post"
      "favorite";
  }

  .search-form {
    grid-area: search;
    justify-self: left;
    align-self: end;
    margin-left: 12px;
  }

  .profile-username {
    grid-area: username;
    justify-self: left;
    align-self: end;
    margin-left: 12px;
  }

  .profile-avatar {
    grid-area: avatar;
    justify-self: right;
    align-self: start;
    margin-right: 12px;
  }

  .profile-total-post {
    grid-area: total-post;
    justify-self: left;
    align-self: center;
    margin-left: 12px;
    margin-top: 0;
  }

  .profile-unique-post {
    grid-area: unique-post;
    justify-self: right;
    align-self: center;
    margin-right: 12px;
  }

  .profile-favorite {
    grid-area: favorite;
    justify-self: left;
    align-self: center;
    margin-left: 12px;
  }

}

@media screen and (min-width: 500px) {

  .profile-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: auto;*/
    grid-template-areas:
      "search search avatar"
      "username username avatar"
      "total-post unique-post favorite"
  }

  .search-form {
    grid-area: search;
  }

  .profile-username {
    grid-area: username;
  }

  .profile-avatar {
    grid-area: avatar;
  }

  .profile-total-post {
    grid-area: total-post;
  }

  .profile-unique-post {
    grid-area: unique-post;
  }

  .profile-favorite {
    grid-area: favorite;
  }

  .search-form {
    justify-self: left;
    align-self: center;
  }

  .profile-avatar,
  .profile-total-post, .profile-unique-post,
  .profile-favorite {
    justify-self: center;
    align-self: center;
  }

  .profile-username {
    justify-self: center;
    align-self: center;
  }

  .profile-total-post, .profile-unique-post,
  .profile-favorite {
    margin-top: 3em;
    margin-bottom: 1em;
  }

}


/* =====================================================
  Post History, My Favorites, Unique Posts Pages Grid
======================================================== */

  /*------------ Mobile Stack -----------*/
.history-list, .favorites-list, .unique-list, .new-user-text {
  display: grid;
  grid-template-columns: 1fr; /*1fr 1fr;*/
  grid-template-rows: 1fr auto;
  grid-gap: 10px;
}

  /* ------------ Larger Screens ---------*/

@media screen and (min-width: 500px) {
    .history-list, .favorites-list, .unique-list {
      grid-template-columns: 1fr 1fr 1fr;
      /*grid-template-rows: 2fr 2fr;*/
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      justify-items: stretch;
      align-items: stretch;
    }

    .whiskey-card {
      font-size: 110%;
    }
  }

  @media screen and (min-width: 950px) {
    .history-list, .favorites-list, .unique-list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      /*grid-template-rows: 2fr 2fr 2fr;*/
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      /*justify-items: stretch;*/
      /*align-items: stretch;*/
    }

    .whiskey-card {
      font-size: 110%;
    }

    .history-list, .favorites-list, .unique-list {
      margin: 2% 5%;
    }
  }

/* ======================================
  Single Post Page Grid
======================================== */

  /*------------ Mobile Stack -----------*/
.single-post-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1%;
  grid-template-areas:
    "single-name"
    "single-rating"
    "single-photo"
    "single-comment"
    "single-add-comment"
    "delete-post";
}

.single-name,
.single-rating,
.single-photo,
.single-comment,
.single-add-comment,
.single-delete-post {
  justify-self: center;
  align-self: center;
}

.single-name {
  grid-area: single-name;
}

.single-rating {
  grid-area: single-rating;
}

.single-photo {
  grid-area: single-photo;
}

.single-comment {
  grid-area: single-comment;
}

.single-add-comment {
  grid-area: single-add-comment;
}

.single-delete-post {
  grid-area: delete-post;
}

/* ======================================
  Whiskey Post Page Grid
======================================== */

  /*------------ Mobile Stack -----------*/
.whiskey-post-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1%;
  grid-template-areas:
    "name name"
    "country region"
    "description description"
    "form form";
}

.post-whiskey-name,
.post-description,
.post-form {
  justify-self: center;
  align-self: center;
}

.post-whiskey-name {
  grid-area: name;
}

.post-country {
  grid-area: country;
}

.post-region {
  grid-area: region;
}

.post-description {
  grid-area: description;
}

.post-form {
  grid-area: form;
}

/* ======================================
  Whiskey Profile Page
======================================== */

.whiskey-profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1%;
  grid-template-areas:
    "name name"
    "description description"
    "back forward"
    "photo photo";
}

.whiskey-profile-container h1 {
  grid-area: name;
}

.whiskey-profile-description {
  grid-area: description;
}

.back-to-search {
  grid-area: back;
  justify-self: center;
  align-self: start;
}

.redirect-to-whiskey-post {
  grid-area: forward;
  justify-self: center;
  align-self: start;
}

.image-container {
  grid-area: photo;
}


/* ======================================
  Whiskey Search Page Grid
======================================== */

  /*------------ Mobile Stack -----------*/
.search-results {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1%;
  grid-template-areas:
    "name name"
    "photo description";
}

.search-results h2 {
  grid-area: name;
}

.search-image {
  grid-area: photo;
}

.search-description {
  grid-area: description;
}

.search-description {
  justify-self: center;
  align-self: center;
}


