/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  /*font: 1em/1.5 'Baskerville', sans-serif;*/
  color: #373737;
  background: #eaeaea;
  margin: 0;
}

a {
  text-decoration: none;
}

.photo-container {
  text-align: center;
  position: relative;
}


/* =================================
  Media Query - Mobile - <= 500px
==================================== */

@media only screen and (max-width: 500px) {
  .photo-container {
    display: none;
  }

  .mobile-top {
    max-width: 100%;
    height: auto;
    background-image:
      url('../images/whiskey-mobile.jpg');
    opacity: 0.75;
    background-attachment: fixed;
    background-size: contain;
  }

  .mobile-name,
  .mobile-tagline,
  .mobile-logo,
  .mobile-signup,
  .mobile-login {
    justify-self: center;
    align-self: center;
    padding: 1% 0;
  }

  .mobile-name p {
    font-family: "Times New Roman", serif;
    font-size: 3.0em;
    font-weight: 400;
    color: #ffb832;
    z-index: 2;
  }

  .mobile-tagline p {
    font-family: "Times New Roman", serif;
    font-size: 1.8em;
    font-weight: 300;
    color: #DB631C;
    z-index: 2;
  }

  .signup-button {
    width: 100%;
    background-color: #FFB832;
    color: white;
    border: 3px solid #9d9aac;
    border-radius: 2em;
    padding: 0.625em 3.125em;
    font-size: 1.4em;
    cursor: pointer;
    z-index: 2;
  }

  .login-button {
    width: 100%;
    background-color: #d7aa48;
    color: white;
    border: 3px solid #9d9aac;
    border-radius: 2em;
    padding: 0.625em 3.125em;
    font-size: 1.4em;
    cursor: pointer;
    z-index: 2;
  }

   /* =================================
  Grid for Mobile Top
==================================== */

  .mobile-top {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "tagline"
      "logo"
      "signup"
      "login";
  }

  .mobile-name {
    grid-area: name;
  }

  .mobile-tagline {
    grid-area: tagline;
  }

  .mobile-logo {
    grid-area: logo;
  }

  .mobile-signup {
    grid-area: signup;
  }

  .mobile-login {
    grid-area: login;
  }

   /* =================================
  Grid - Mobile Entire Front Page
==================================== */

  .wrapper {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-areas:
      "photo"
      "profile-d"
      "profile-m"
      "history-d"
      "history-m"
      "whiskey-d"
      "whiskey-m";
    background-color: #fff;
    color: #444;
  }

  .mobile-top {
    grid-area: photo;
  }

  .profile-description {
    grid-area: profile-d;
  }

  .profile-mockup {
    grid-area: profile-m;
  }

  .history-description {
    grid-area: history-d;
  }

  .history-mockup {
    grid-area: history-m;
  }

  .whiskey-description {
    grid-area: whiskey-d;
  }

  .whiskey-mockup {
    grid-area: whiskey-m;
  }

  .profile-description p,
  .history-description p,
  .whiskey-description p {
    width: 90%;
    margin: 0 auto;
    padding-top: 1.3em;
    font-size: 1.4em;
  }

  .profile-mockup img,
  .history-mockup img,
  .whiskey-mockup img {
    display: block;
    width: 20em;
    height: 20em;
    margin: 0 auto;
    border-bottom: 1px solid gray;
  }

}


@media only screen and (min-width: 500px) and (max-width: 949px) {

  .mobile-top > * {
    display: none;
  }

  .photo-container {
    width: 100%;
    float: left;
  }

  .image-container {
    background:
      linear-gradient(#cacdd1, #e6e9ed, transparent);
    opacity: 0.75;
  }

  .image-container img {
    position: relative;
    z-index: -1;
  }

  .name {
    font-family: 1em/1.5 "Times New Roman", serif;
    font-size: 5.5em;
    font-weight: 500;
    margin: 0 0 1.5em;
    position: absolute;
    top: 10%;
    right: 15%;
    color: #ffb832;
    z-index: 2;
  }

  .tagline {
    font-family: 1em/1.5 "Times New Roman", serif;
    font-size: 3.0em;
    font-weight: 300;
    margin: 0 0 1.5em;
    position: absolute;
    top: 27%;
    right: 15%;
    color: #DB631C;
    z-index: 2;
  }
}

@media only screen and (min-width: 950px) {
  .mobile-top > * {
    display: none;
  }

  .name {
    font-family: "Times New Roman", serif;
    font-size: 5.5em;
    font-weight: 500;
    margin: 0 0 1.5em;
    position: absolute;
    top: 10%;
    right: 15%;
    color: #ffb832;
    z-index: 2;
  }

  .tagline {
    font-family: "Times New Roman", serif;
    font-size: 3.0em;
    font-weight: 300;
    margin: 0 0 1.5em;
    position: absolute;
    top: 27%;
    right: 15%;
    color: #DB631C;
    z-index: 2;
  }

  .login-button {
    height: 10%;
    width: 20%;
    font-size: 1.3em;
    cursor: pointer;
    border: 2px solid #9d9aac;
    border-radius: 12px;
    background-color: #d7aa48;
    color: #9b2b0d;
    position: absolute;
    bottom: 35%;
    right: 15%;
    z-index: 2;
  }

  .signup-button {
    height: 10%;
    width: 20%;
    font-size: 1.3em;
    cursor: pointer;
    border: 2px solid #9d9aac;
    border-radius: 12px;
    background-color: #d7aa48;
    color: #9b2b0d;
    position: absolute;
    bottom: 50%;
    right: 15%;
    z-index: 2;
  }

  .photo-container {

  }

  .photo-container img {
    max-width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  .mobile-image img {
    display: none;
  }

  .image-container {
    background:
      linear-gradient(#cacdd1, #e6e9ed, transparent);
    opacity: 0.75;
  }

  .image-container img {
    position: relative;
    z-index: -1;
  }

  .profile-description p {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 120px;
    margin-left: 20px;
    font-size: 1.8em;
  }

  .profile-mockup img {
    display: block;
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
  }

  .history-description p {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-right: 20px;
    font-size: 1.8em;
  }

  .history-mockup img {
    display: block;
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
  }

  .whiskey-description p {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-right: 20px;
    font-size: 1.8em;
  }

  .whiskey-mockup img {
    display: block;
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
  }

  /* =================================
  Grid
==================================== */

  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "photo photo"
      "profile-d profile-m"
      "history-m history-d"
      "whiskey-d whiskey-m";
    background-color: #fff;
    color: #444;
  }

  .photo-container {
    grid-area: photo;
  }

  .profile-description {
    grid-area: profile-d;
  }

  .profile-mockup {
    grid-area: profile-m;
  }

  .history-description {
    grid-area: history-d;
  }

  .history-mockup {
    grid-area: history-m;
  }

  .whiskey-description {
    grid-area: whiskey-d;
  }

  .whiskey-mockup {
    grid-area: whiskey-m;
  }

}

