/* ======================================
  Site-Wide Styles
======================================== */

/** {
  box-sizing: border-box;
  margin: 0;
}*/

html, body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* ======================================
  Header, Menu, Footer
======================================== */

  /*--- Mobile ---*/
.menu {
  margin: 0;
  padding: 0;
  background-color: #DB631C;
  border-bottom: 3px solid #FFB832;
  width: 100%;
}

ul {
  padding-right: 10px;
  text-align: left;
  position: relative;
  height: 80px;
  line-height: 80px;
}

ul li .logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
  width: 80px;
  cursor: pointer;
}

ul li p {
  color: white;
  position: absolute;
  top: 1px;
  left: 25%;
  text-align: center;
  padding-left: 8%;
  font-size: 40px;
  height: 40px;
  line-height: 40px;
  padding-top: 20px;
}

.redirect {
  color: #FFB832;
}

.main-container {
  min-height: 100%;
  padding: 20px;
  margin: 0 auto -60px;
}

.main-footer {
  background-color: #DB631C;
}

.main-footer, .push {
  height: 60px;
  line-height: 60px;
  color: white;
  text-align: center;
  /*margin-top: -60px;*/
}

/*------------------------------- Slide Out Menu ---------------------------------*/
/*--- CSS-Grid for mobile menu only ---*/
.mobile-menu {
  display: grid;
  grid-template-columns: 120px;
  grid-template-rows: 400px;
  grid-gap: 10px;
}

/* Mobile menu off-screen to start */
.mobile-menu ul {
  position: fixed;
  left: -120px;
}

.mobile-menu ul li {
  background-color: #9B2B0D;
}

.mobile-menu ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
  padding-left: 12px;
  color: white;
}

/* "Checkbox Hack" */
input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

label {
  cursor: pointer;
  user-select: none;
}

input[type=checkbox]:checked ~ .mobile-menu ul {
  position: fixed;
  left: 0;
  top: 80px;
  width: 300px;
  z-index: 2;
}

  /*--- Mobile Device - Hide Top Menu ---*/
@media only screen and (max-width: 650px) {
  .hide {
    display: none;
  }
}
  /*--- Mid-Size Devices ---*/
@media only screen and (min-width: 651px) and (max-width: 949px) {
  .mobile-menu {
    display: none;
  }

  .menu {
    background-color: green;
    border-bottom: 5px solid #FFB832;
  }

  ul {
    text-align: right;
  }

  ul li p {
    position: static;
    text-align: left;
    padding-left: 12%;
  }

  ul li .redirect {
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
  }

  ul li a.link-one {
    right: 38%;
  }

  ul li a.link-two {
    right: 28%;
  }

  ul li a.link-three {
    right: 18%;
  }

  ul li a.link-four {
    right: 10%;
  }

  ul li a.link-five {
    right: 1.5%;
    font-size: 1em;
  }
}

  /*--- Desktop / Laptop ---*/
@media only screen and (min-width: 950px) {
  .mobile-menu {
    display: none;
  }

  .menu {
    margin: 0;
    padding: 0;
    background-color: #DB631C;
    border-bottom: 5px solid #FFB832;
    width: 100%;
  }

  ul {
    text-align: right;
  }

  ul li p {
    position: static;
    text-align: left;
    padding-left: 12%;
  }

  ul li .redirect {
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8em;
    text-decoration: none;
    cursor: pointer;
  }

  ul li a.link-one {
    right: 48%;
  }

  ul li a.link-two {
    right: 36%;
  }

  ul li a.link-three {
    right: 24%;
  }

  ul li a.link-four {
    right: 14%;
  }

  ul li a.link-five {
    right: 1.5%;
  }
}

/* ======================================
  Profile Page
======================================== */

/*.wax-seal {
  height: 150px;
  width: 150px;
  background-image: url('../images/wax-seal2.png');
  background-size: cover;
}*/

/* MORE SPECIFICITY! */
/*p {
  font-family: 'Amiri', serif;
  font-size: 60px;
  margin: 5px 5px;
  text-align: center;
}*/

/*.username p {
  font-family: 'Amiri', serif;
  font-size: 40px;
  margin: 5px 5px;
  text-align: center;
}*/

/* MORE SPECIFICITY! */
/*h3 {
  font-family: 'Libre Franklin', sans-serif;
  margin: 2px;
  color: #DB631C;
}*/

/* =================================
  Media Queries
==================================== */

/* =================================
  Post History Page
==================================== */

.history-list {
  padding: 10px;
  list-style-type: none;
  background-color: #FFB832;
  /*height: 3400px;*/
}

.history-container h2 {
  padding-top: 15px;
  padding-left: 5px;
  font-family: 'Libre Franklin', sans-serif;
}

.whiskey-card {
  background-color: #fff;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
}

.bottle-history {
  max-width: 100%;
  height: auto;
  /*margin: auto;*/
}

.rating {
  text-align: left;
  font-family: 'Libre Franklin', sans-serif;
}

.favorite {
  text-align: right;
  font-family: 'Libre Franklin', sans-serif;
}

.favorite-icon {
  height: 45px;
  width: 45px;
  background-image: url('/images/ribbon.png');
  background-size: cover;
  text-align: right;
  /*padding-right: 18px;*/
}

.favorite p {
  font-size: 0.5em;
  text-align: right;
}


/* ----------   Single Post Page   ---------------- */
/*
.single-add-comment {
  margin: 8px;
  border: 1px solid gray;
}
*/
