/* ======================================
  Table of Contents
======================================== */
/*  - Site-Wide Styles
    - Sign-Up & Log-In Forms
    - Header, Menu, Mobile Menu, Footer
      - Media Queries for Header, Menu, Mobile Menu, Footer ONLY!
    - Delete Account Page
    - My Favorites, My Unique Posts, Post History Pages
    - Post Confirm Page
    - Profile Page
    - Single Post Page
    - Whiskey Post Page
    - Whiskey Profile Page
    - Whiskey Search Page
    - Media Queries
*/


/* ======================================
  Site-Wide Styles
======================================== */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* ======================================
  Sign-Up & Log-in Forms
======================================== */

.header-signup {
  margin: 0;
  padding: 0;
  background-color: #DB631C;
  border-bottom: 3px solid #FFB832;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-signup-menu-list {
  position: relative;
  height: 80px;
  line-height: 80px;
}

.header-signup-logo-box {
  flex: 1;
  text-align: center;
}

.header-signup-logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.header-signup-text {
  color: white;
  font-size: 30px;
  flex: 3;
  margin-left: 30%;
  text-align: left;
}

@media only screen and (min-width: 451px) {
  .header-signup {
    border-bottom: 5px solid #FFB832;
  }

  .header-signup-text {
    transform: none;
    font-size: 40px;
    margin-left: 0;
    text-align: center;
  }

}

.logo-large {
  height: 220px;
}

.logo-large img {
  display: block;
  height: 210px;
  max-width: 100%;
  margin: 0 auto;
}

/*.menu-list .header-text-sign-up {
  color: white;
  position: absolute;
  top: 1px;
  left: 25%;
  text-align: center;
  padding-left: 8%;
  font-size: 2em;
  height: 2em;
  line-height: 40px;
  padding-top: 20px;
}*/

/*form always centered*/
form#sign-up {
  max-width: 450px;
  margin: 0 auto 0;
  padding: 0 10px;
}

/*position is relative so that child elements can be positioned absolutely*/
/*background color for when field is validated with checkmark appearing*/
form#sign-up > div {
  position: relative;
  background: white;
  border-bottom: 1px solid #ccc;
}

/*just for the label placeholder text*/
form#sign-up > div > label {
  opacity: 0.3;
  font-weight: bold;
  position: absolute;
  top: 22px;
  left: 20px;
}

/*normal layout & styling of input fields*/
form#sign-up > div > input[type="text"],
form#sign-up > div > input[type="password"] {
  width: 100%;
  border: 0;
  padding: 20px 20px 20px 50px;
  background: #eee;
}

/* layout & styling of input fields when field is clicked on*/
form#sign-up > div > input[type="text"]:focus,
form#sign-up > div > input[type="password"]:focus {
  outline: 0;
  background: #eee;
}

/*labels containing placeholder text disappear when field is clicked on*/
form#sign-up > div > input[type="text"]:focus + label,
form#sign-up > div > input[type="password"]:focus + label {
  opacity: 0;
}

/*valid entries will show checkbox.  checkbox styling.*/
form#sign-up.green-check > div > input[type="text"]:valid,
form#sign-up.green-check > div > input[type="password"]:valid {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

/*valid entries will have label placeholder text removed*/
form#sign-up > div > input[type="text"]:valid + label,
form#sign-up > div > input[type="password"]:valid + label {
  opacity: 0;
}

/*when input is not valid, not in focus, not empty, do this to the input field*/
form#sign-up > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
form#sign-up > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  background: #FFB832;
}

/*when input is not valid, not in focus, not empty, do this to the label text*/
form#sign-up > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
form#sign-up > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label {
  opacity: 0;
}

/*when input is not valid, not empty, but in focus - show the requirements div*/
form#sign-up > div > input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
form#sign-up > div > input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .requirements {
  max-height: 200px;
  padding: 10px 30px 20px 50px;
}

/*requirements div is hidden unless triggered above*/
form#sign-up > div .requirements {
  padding: 0 30px 0 50px;
  color: #999;
  max-height: 0;
  transition: 0.5s;
  overflow: hidden;
  color: #9B2B0D;
  font-style: italic;
}

/*submit button*/
form#sign-up input[type="submit"] {
  display: block;
  width: 80%;
  margin: 20px auto;
  background: #FFB832;
  color: white;
  border: 0;
  border-radius: 38px;
  padding: 20px;
  font-size: 1.2em;
}

.login-bottom p {
  text-align: center;
  font-size: 1.2em;
}

.login-bottom p a {
  padding-left: 8px;
  font-size: 1.4em;
  color: #9B2B0D;
}

/* ======================================
  Header, Menu, Mobile Menu, Footer
======================================== */

  /*--- Menu ---*/
.menu {
  margin: 0;
  padding: 0;
  background-color: #DB631C;
  border-bottom: 3px solid #FFB832;
  width: 100%;
}

ul.menu-list {
  padding-right: 10px;
  text-align: left;
  position: relative;
  height: 80px;
  line-height: 80px;
}

ul.menu-list li .logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.redirect {
  color: #FFB832;
}

/*---------- Sticky Footer Stuff --------*/
/* Doesn't work */

.main-footer {
  background-color: #DB631C;
  height: 60px;
  line-height: 60px;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*------------------------- Mobile Slide Out Menu ---------------------------------*/
/*--- CSS-Grid for mobile menu only ---*/
.mobile-menu {
  display: grid;
  grid-template-columns: 120px;
  /*grid-template-rows: 400px;*/
  grid-gap: 10px;
}

/* Mobile menu off-screen to start */
.mobile-menu ul {
  position: fixed;
  left: -120px;
}

.mobile-menu ul li {
  background-color: #9B2B0D;
}

.mobile-menu ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
  padding-left: 12px;
  color: white;
}

/*--- "Checkbox Hack" to slide menu out ---*/
input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

label {
  cursor: pointer;
  user-select: none;
}

input[type=checkbox]:checked ~ .mobile-menu ul {
  position: fixed;
  left: 0;
  top: 80px;
  width: 300px;
  z-index: 2;
}

/* ===========================================================
  Media Queries for Header, Menu, Mobile Menu, Footer ONLY!
============================================================== */

  /*--- Mobile Device - Hide Top Menu ---*/
@media only screen and (max-width: 650px) {
  .hide {
    display: none;
  }

  img.logo {
    display: none;
  }

  div.burger {
    position: absolute;
    top: 9px;
    padding-left: 8%;
    padding-top: 20px;
  }

  span.burger-line {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: white;
    border-radius: 3px;

    z-index: 1;
    }

  .menu-list .header-text {
    color: white;
    position: absolute;
    top: 1px;
    left: 25%;
    text-align: center;
    padding-left: 8%;
    font-size: 2em;
    height: 2em;
    line-height: 40px;
    padding-top: 20px;
  }
}

  /*--- Mid-Size Devices ---*/
@media only screen and (min-width: 651px) and (max-width: 949px) {
  .mobile-menu {
    display: none;
  }

  .menu {
    background-color: #DB631C;
    border-bottom: 5px solid #FFB832;
  }

  .menu-list {
    display: flex;
  }

  .menu-list li {
    flex: 1;
    text-align: center;
  }

  .menu-list li:nth-child(2) {
    color: white;
    font-size: 150%;
    flex: 2;
    text-align: left;
  }

  .menu-list li .redirect {
    font-size: 1.6em;
    text-decoration: none;
    cursor: pointer;
  }

  .menu-list li input {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #FFB832;
    text-align: center;
    margin: 0 auto;
  }

  .menu-list li input[value="Log Out"] {
    color: white;
    font-size: 1.2em;
  }
}

  /*--- Desktop / Laptop ---*/
@media only screen and (min-width: 950px) {
  .mobile-menu {
    display: none;
  }

  .menu {
    border-bottom: 5px solid #FFB832;
  }

  .menu-list {
    display: flex;
  }

  .menu-list li {
    flex: 1;
    text-align: center;
  }

  .menu-list li:nth-child(2) {
    color: white;
    font-size: 40px;
    flex: 3;
    text-align: left;
  }

  .menu-list li .redirect {
    font-size: 1.8em;
    text-decoration: none;
    cursor: pointer;
  }

  .menu-list li input {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #FFB832;
    text-align: center;
    margin: 0 auto;
  }

  .menu-list li input[value="Log Out"] {
    color: white;
    font-size: 1.2em;
  }
}


/* ==================================================
  My Favorites, My Unique Posts, Post History Pages
==================================================== */

.history-list, .favorites-list, .unique-list {
  padding: 0.625em;
  list-style-type: none;
  /*background-color: #FFB832;*/
}

.history-container h1, .favorites-container h1, .unique-container h1 {
  padding: 0.75em 0.5em;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 175%;
}

.whiskey-card {
  background-color: #fff;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1.25em 1.25em 0;
  font-size: 150%;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
}

.bottle-history {
  max-width: 100%;
  height: auto;
  /*margin: auto;*/
  /*align-self: end;*/
}

.rating {
  text-align: left;
  font-family: 'Libre Franklin', sans-serif;
  padding-top: 0.5em;
}

.favorite {
  text-align: right;
  font-family: 'Libre Franklin', sans-serif;
}

.favorite-icon {
  height: 45px;
  width: 45px;
  background-image: url('../public/images/ribbon.png');
  background-size: cover;
  text-align: right;
  /*padding-right: 18px;*/
}

.favorite p {
  font-size: 0.5em;
  text-align: right;
}

/* ======================================
  Post Confirm Page
======================================== */

.confirm-favorite input[type="submit"],
.confirm-redirect input[type="submit"] {
  display: block;
  width: 50%;
  margin: 1.25em auto;
  background: #FFB832;
  color: white;
  border: 0;
  border-radius: 2em;
  padding: 0.75em;
  font-size: 1.5em;
  cursor: pointer;
}

.confirm-redirect input[type="submit"] {
  width: 70%;
}

.confirm-favorite {
  margin-bottom: 0.25em;
}

.confirm-statement p,
.confirm-question p {
  text-align: center;
  font-size: 1.8em;
  padding: 1.5em 0 0.1em;
}

/* ======================================
  Profile Page
======================================== */

.profile-avatar .wax-seal {
  height: 150px;
  width: 150px;
  background-image: url('public/images/wax-seal-logo.png');
  background-size: cover;
}

.profile-total-post p,
.profile-unique-post p,
.profile-favorite p {
  font-family: 'Amiri', serif;
  font-size: 60px;
  margin: 5px 5px;
  text-align: center;
}

.profile-username p {
  font-family: 'Amiri', serif;
  font-size: 40px;
  margin: 20px 5px 0;
  text-align: center;
}

.profile-total-post h3,
.profile-unique-post h3,
.profile-favorite h3 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  margin: 2px;
  color: #DB631C;
}

.profile-container {
  /*padding: 0 12em 0;*/
}

/* ======================================
  Single Post Page
======================================== */

.single-name p {
  font-size: 1.8em;
  padding: 0.5em 0.2em 0.1em;
  text-align: center;
}

.single-photo img {
  width: 14em;
  height: 18.7em;
}

.single-rating p {
  font-size: 1.25em;
  padding: 0.25em 0 0.1em;
}

.single-comment {
  padding: 0.25em 0 0.5em;
}

.single-comment h2 {
  text-align: left;
  font-size: 1.5em;
  padding: 0.25em 0.25em 0.1em;
}

.single-comment p {
  font-size: 1.2em;
  padding: 0.5em;
  border-bottom: 1px solid gray;
}

.single-add-comment {
  margin-top: 0.75em;
  width: 80%;
}

#add-comment {
  height: 12em;
  width: 100%;
  border: 0.2em solid #cccccc;
  padding: 0.4em;
  font-size: 1.2em;
  outline-color: #FFB832;
  outline-width: 0.75em;
}

.single-delete-post p {
  font-size: 1.5em;
  margin-top: 1.5em;
}

.single-add-comment input[type="submit"],
.single-delete-post input[type="submit"] {
  display: block;
  margin: 0.5em auto;
  color: white;
  border: 0;
  border-radius: 2em;
  padding: 0.75em;
  font-size: 1.5em;
  cursor: pointer;
}

.single-add-comment input[type="submit"] {
  width: 60%;
  background-color: #FFB832;
}

.single-delete-post input[type="submit"] {
  background-color: #A6000A;
}

/* ======================================
  Whiskey Post Page
======================================== */

.post-whiskey-name p {
  font-size: 1.8em;
  padding: 0.5em 0.5em 0.1em;
  text-align: center;
}

.post-country,
.post-region {
  padding: 0.25em 2em;
}

.post-country h3,
.post-region h3 {
  font-size: 1.5em;
  padding: 0.25em 0;
}

.post-country p,
.post-region p {
  font-size: 1.1em;
  padding: 0.25em 0;
}

.post-description {
  width: auto;
  font-size: 1.1em;
  color: gray;
  padding: 1em 2em;
}

.post-form {
  margin-top: 0.75em;
  width: 80%;
}

#comment-box {
  height: 8em;
  width: 100%;
  border: 0.2em solid #cccccc;
  padding: 0.4em;
  font-size: 1.2em;
  outline-color: #FFB832;
  outline-width: 0.75em;
}

.post-rating {
  max-width: 100%;
  margin: 1.5em auto 1.25em;
}

.post-rating select {
  font-size: 1.25em;
  margin: 0 auto;
  cursor: pointer;
}

.post-rating label {
  font-size: 1.25em;
  padding: 0 1em;
}

.post-comment p {
  font-size: 1.5em;
  padding: 0.25em 0;
  text-align: center;
}

.post-comment input[type="submit"] {
  display: block;
  margin: 0.5em auto;
  width: 60%;
  background-color: #FFB832;
  color: white;
  border: 0;
  border-radius: 2em;
  padding: 0.75em;
  font-size: 1.5em;
  cursor: pointer;
}

/* ======================================
  Whiskey Profile Page
======================================== */

.whiskey-profile-container h1 {
  font-weight: bold;
  text-align: center;
  font-size: 1.6em;
  padding: 0.625em 0;
}

.whiskey-profile-description {
  height: 8.75em;
  width: 15.625em;
  font-size: 1.1em;
  color: gray;
  padding: 0.25px;
  margin: 0 auto;
}

.back-to-search {
  font-size: 1.3em;
  cursor: pointer;
  color: #9b2b0d;
  z-index: 2;
}

.redirect-to-whiskey-post {
  font-size: 1.3em;
  cursor: pointer;
  color: #9b2b0d;
  z-index: 2;
}

.whiskey-profile-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* ======================================
  Whiskey Search Page
======================================== */
.search-statement p,
.search-statement ~ p {
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em 0 0.1em;
}

.search-form form {
  width: 80%;
  margin: 1.5em auto;
}

.search-field {
  height: 3em;
  width: 70%;
  padding: 0.5em 1em;
  border: 1px solid lightgray;
  outline-color: #DB631C;
}

.search-button {
  height: 3em;
  width: 25%;
  position: relative;
  text-align: center;
  left: 1%;
  border: 2px solid #A6000A;
  background-color: #A6000A;
  color: white;
}

.search-button:hover {
  background-color: #fafafa;
  color: #A6000A;
  cursor: pointer;
}

.search-results h2 {
  font-size: 1.8em;
  padding: 0.5em 0.5em 0.1em;
  text-align: center;
}

.search-image img {
  max-width: 8.5em;
}

.search-description {
  padding: 0 1em;
}

.search-description p {
  width: 100%;
  font-size: 1em;
  color: gray;
}

.border-between {
  border: 2px solid gray;
  margin: 1em 0;
}

/* ======================================
  Media Queries
======================================== */

@media screen and (min-width: 500px) and (max-width: 949px) {
  /* ======================================
    Post Confirm Page
  ======================================== */
  .confirm-favorite input[type="submit"],
  .confirm-redirect input[type="submit"] {
    width: 35%;
  }

  /* ======================================
    Profile Page
  ======================================== */

  .profile-avatar .wax-seal {
    height: 180px;
    width: 180px;
    margin-top: 2em;
  }

  .profile-total-post p,
  .profile-unique-post p,
  .profile-favorite p {
    font-size: 75px;
  }

  .profile-username p {
    font-size: 60px;
  }

  /* ======================================
    Whiskey Post Page
  ======================================== */
  .post-comment input[type="submit"] {
    width: 35%;
  }

  /* ======================================
    Whiskey Profile Page
  ======================================== */
  .image-container {
    height: 50vh;
    /*overflow: hidden;*/
  }

  .whiskey-profile-image {
    display: block;
    width: 20em;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}


@media screen and (min-width: 950px) {
  /* ======================================
  Site-Wide Styles
======================================== */
  .background-image-wrapper {
    background-image: url('/public/images/barrels.jpg');
    background-repeat: no-repeat;
    height: calc(100vh - 85px);
  }

  .page-wrapper {
    margin: 0 12.5em;
    padding-bottom: 1.25em;
    background-color: white;
  }

  .background-image-wrapper-2 {
    background-image: url('../../public/images/whiskey-glasses.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 85px);
  }

  /* ======================================
    Post Confirm Page
  ======================================== */
  .confirm-favorite input[type="submit"],
  .confirm-redirect input[type="submit"] {
    width: 25%;
  }

  .confirm-redirect input[type="submit"] {
    font-size: 1.1em;
  }

  /* ======================================
    Profile Page
  ======================================== */

  .profile-avatar .wax-seal {
    height: 200px;
    width: 200px;
    margin-top: 2em;
  }

  .profile-total-post p,
  .profile-unique-post p,
  .profile-favorite p {
    font-size: 75px;
  }

  .profile-username p {
    font-size: 60px;
  }

  /* ======================================
    Whiskey Post Page
  ======================================== */
  .post-comment input[type="submit"] {
    width: 25%;
  }

  /* ======================================
    Whiskey Profile Page
  ======================================== */
  .image-container {
    height: 100vh;
    /*overflow: hidden;*/
    /*float: right;*/
  }

  .whiskey-profile-image {
    display: block;
    width: 25em;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  /* ======================================
    Whiskey Search Page
  ======================================== */
  .search-form form {
    width: 50%;
  }

  /* ======================================
    Single Post Page
  ======================================== */
  .single-add-comment input[type="submit"] {
    width: 40%;
  }


}
