* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.main-head, .main-footer {
  background-color: #DB631C;
  width: 100%;
}

.footer-text {
  font-family: 'Libre Franklin', sans-serif;
  margin: 2px;
  color: white;
  text-align: center;
}

   /* --------------------- Menu --------------------- */

.menu {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/*.menu-open {
  left: 201px;
}*/

.menu-open #menu-side {
  left: -201px;
}

#menu-side {
  background-color: #D7AA48;
  border-right: 2px solid #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: -201px;
  height: 100%;
  width: 200px;
  padding: 10px;
}

#logo h1 {
  /*margin: auto;*/
  text-align: center;
  color: white;
  font-family: 'Libre Franklin', sans-serif;
}

  /* ----------   Profile Page   ---------------- */

.wax-seal {
  height: 150px;
  width: 150px;
  background-image: url('../images/wax-seal2.jpg');
  background-size: cover;
  /*text-align: center;*/
}

p {
  font-family: 'Amiri', serif;
  font-size: 60px;
  margin: 5px 5px;
  text-align: center;
}

.username p {
  /*font-family: 'Amiri', serif;*/
  font-size: 40px;
 /* margin: 5px 5px;
  text-align: center;*/
}

h3 {
  font-family: 'Libre Franklin', sans-serif;
  margin: 2px;
  color: #DB631C;
}

.bottle-history {
  width: 65%;
  height: 65%;
}

/* ----------   Post-History Page   ---------------- */

.history-list {
  padding: 10px;
}

.history-container h2 {
  padding-top: 15px;
  padding-left: 5px;
}

.history-list li {
  margin: 8px;
  border: 1px solid gray;
  list-style: none;
}

.history-list li .whiskeyname {
  color: #DB631C;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  padding: 5px 0;
}

.history-list li .rating {
  color: black;
  font-family: 'Libre Franklin', sans-serif;
  text-align: left;
  padding: 5px 10px;
}

.history-list li .favorite-icon {
  color: black;
  font-family: 'Libre Franklin', sans-serif;
  text-align: right;
  padding: 5px 10px;
}

.bottle-history {
  width: 65%;
  height: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ----------   Single Post Page   ---------------- */

.single-add-comment {
  margin: 8px;
  border: 1px solid gray;
}

/*.single-name {
  width: 200px;
}
*/
