header
  a.menu-toggle(href="#") Toggle
    nav#menu-side
      ul
        li
          a(href="/user/" + id + "/profile") Profile
        li
          a(href="/user/" + id + "/settings") Settings
        li
          a(href="/user/" + id + "/post-history") Post History
        li
          a(href="/index.html") Log Out

  div#logo
    h1 Whiskey Social
