header
  nav.menu
    ul.menu-list
      li
        input#button(type='checkbox')
        label(for='button', onclick='')
          img.logo(src='/images/wax-seal2.png', alt='wax seal logo')
        nav.mobile-menu
          ul
            li
              a.mobile-one.mobile(href="/user/" + id) Profile
            li
              a.mobile-two.mobile(href="/user/" + id + "/post-history") History
            li
              a.mobile-three.mobile(href="/user/" + id + "/settings") Settings
            li
              a.mobile-four.mobile(href="") Search
            li
              a.mobile-five.mobile(href="") Log Out
      li
        p.header-text Whiskey Social
      li
        a.link-one.hide.redirect(href="") Profile
      li
        a.link-two.hide.redirect(href="") History
      li
        a.link-three.hide.redirect(href="") Settings
      li
        a.link-four.hide.redirect(href="") Search
      li
        a.link-five.hide.redirect(href="") Log Out



