header
  nav.menu
    ul.menu-list
      li
        input#button(type='checkbox')
        label(for='button', onclick='')
          img.logo(src='/images/wax-seal-logo.png', alt='wax seal logo')
        nav.mobile-menu
          ul
            li
              a.mobile-one.mobile(href="/user/" + user) Profile
            li
              a.mobile-two.mobile(href="/user/" + user + "/post-history") History
            //- li
            //-   a.mobile-three.mobile(href="/user/" + user + "/settings") Settings
            li
              a.mobile-four.mobile(href="/whiskey/search") Search
            li
              a.mobile-five.mobile(href="/login") Log Out
      li
        p.header-text Whiskey Social
      li
        a.link-one.hide.redirect(href="/user/" + user) Profile
      li
        a.link-two.hide.redirect(href="/user/" + user + "/post-history") History
      //- li
      //-   a.link-three.hide.redirect(href="/user/" + user + "/settings") Settings
      li
        a.link-four.hide.redirect(href="/whiskey/search") Search
      li
        a.link-five.hide.redirect(href="/login") Log Out



